body {
    color: #f7f7f7;
    background-color: #666666;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 0;
    height: 100vh;
}

.Tec, .menu {
    position: fixed;
}

.Tec {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
    background: transparent;
}

.menu nav { opacity: 0;}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 50%;
    max-width: 400px;
    height: 100%;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(10px);
    translate: -100% 0;
    transition: translate 0.425s cubic-bezier(0.175,0.885,0.32,1);
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(0% 0% at 0% 50%);
    }
    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate:  0;
    animation: menu-in 0.425s;
}

body.open .menu nav {
    opacity: 1;
}

.menu nav:hover a {
    opacity: 0.25;
}

.menu nav a:hover {
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 30px;
    padding: 18px 0;
    height: 80px;
    width: 100%;
    transition: 0.4s;
    text-decoration: none;
}

.menu a::before,
.menu a::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    transition: 0.4s;
}

.menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes appear {
    0% { 
        opacity: 0;
        translate: -30px 0;
    }
    100% { 
        opacity: 1;
    }
}

/* css (Tec icon) */

.Tec-icon { position: relative; }

.Tec-icon::before, .Tec-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
}

.Tec-icon, .Tec-icon::before, .Tec-icon::after {
    display: block;
    border-radius: 2px;
    height: 2px;
    background: #f9f9f9;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.Tec-icon::before { top: -8px; left: 0; }

.Tec-icon::after { top: 8px; left: 16px; }

body.open .Tec-icon {
    transform: rotate(-45deg);
}

body.open .Tec-icon::before {
    transform: rotate(90deg) translate(10px, -1px);
}

body.open .Tec-icon::after {
    transform: rotate(90deg) translate(-9px, 1px);
}

.centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

.barra-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #CDCDCD;
    position: relative;
    border-radius: 15px;
}

.barra-topo .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -20px;
}

.barra-topo .botoes {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.barra-topo .botoes button {
    background-color: #888; /* Ajuste a cor conforme necessário */
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.barra-topo .botoes button:hover {
    background-color: #555; /* Ajuste a cor conforme necessário */
}